:root {
    --primary: rgb(255, 135, 56);
    --primary-dark: rgb(245, 98, 0);
    --text: rgb(39, 39, 39);
    --alt-text: rgb(255, 255, 255);
    --radius: 0.25rem;
    --duration: 0.3s;

    --h1: 2rem;
    --h2: 1.75rem;
    --h3: 1.5rem;
    --h4: 1.3rem;
    --h5: 1.15rem;
    --h6: 1rem;
    --small: 0.7rem;
}

@media screen and (min-width: 768px) {
    :root {
        --h1: 2.5rem;
        --h2: 2rem;
        --h3: 1.75rem;
        --h4: 1.5rem;
        --h5: 1.3rem;
        --h6: 1.1rem;
    }
}

body {
    font-family: "DM Sans", sans-serif;
    color: var(--text);
}

.thick {
    margin: 3px 0 0 0 !important;
    font-family: "Bebas Neue", cursive;
    font-weight: 400;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
a {
    margin: 0 0 0.5rem 0;
    line-height: 1.5;
}

h1,
.h1 {
    font-size: var(--h1);
}

h2,
.h2 {
    font-size: var(--h2);
}

h3,
.h3 {
    font-size: var(--h3);
}

h4,
.h4 {
    font-size: var(--h4);
}

h5,
.h5 {
    font-size: var(--h5);
}

h6,
.h6,
p,
a,
pre,
code {
    font-size: var(--h6);
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: var(--duration);
}

a:hover {
    color: var(--primary-dark);
}

button,
.button {
    position: relative;
    background-color: var(--primary);
    color: var(--alt-text);
    border: none;
    padding: 0.5rem 1.4rem;
    border-radius: var(--radius);
    transition: var(--duration);
    overflow: hidden;
    z-index: 1;
}

button::after,
.button::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: var(--primary-dark);
    transform: translateY(100%);
    z-index: -1;
    transition: var(--duration);
}

button:hover,
.button:hover {
    cursor: pointer;
    color: var(--alt-text);
}

button:hover::after,
.button:hover::after {
    transform: translateY(0);
}

li > p {
    margin-bottom: 0;
}

pre {
    position: relative;
    color: var(--alt-text);
    background-color: var(--text);
    border-radius: var(--radius);
    margin: 0.5rem 0;
    padding: 1rem 1.4rem;
}

code {
    font-family: "DM Mono", monospace;
}

code::after {
    position: absolute;
    font-size: var(--small);
    top: 0.5rem;
    right: 0.5rem;
    opacity: 0.8;
    content: attr(data-code-language);
}

.bold {
    font-weight: bold;
}

nav {
    margin: 0.4rem;
}

nav,
nav div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

hr {
    color: var(--text);
    opacity: 0.3;
    margin: 0;
}

main {
    margin: 3rem 1.5rem 4rem 1.5rem;
}

.resp-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gap-sm {
    gap: 0.1rem;
}

.spaced-hr {
    margin: 0 1.5rem;
}

@media screen and (min-width: 768px) {
    main {
        margin: 3rem 5rem 4rem 5rem;
    }

    .resp-flex {
        flex-direction: row;
    }

    .gap-sm {
        gap: 0.5rem;
    }

    .spaced-hr {
        margin: 0 5rem;
    }
}
